.header{
    position: absolute;
    /* background-color: red; */
    padding: 0 0 0 5%;
    margin-top: 2%;
    width: 100%;
    height: 10%;
    display: flex;
        justify-content: space-between;
        align-items: center;
}
.header hr{
    width:20%;
    opacity: 0.25;
}

.header-menu-container{
    width: 65%;
    height: 100%;
    padding: 0 5% 0 5% ;
    background:rgba(255, 255, 255, 0.04);
    display: flex;
        justify-content:space-between;
        align-items: center;
}

.header-menu{
    height: 100%;
    padding-right: 4%;
    display: flex;
        justify-content: center;
        align-items: center;
    cursor: pointer;
    border: 5px solid transparent ;
}

.header-menu-active{
    height: 100%;
    padding-right: 4%;
    display: flex;
        justify-content: center;
        align-items: center;
    cursor: pointer;
    border-bottom: 5px solid #FFFFFF ;
}

.header-menu:hover{
    border-bottom: 5px solid rgba(255, 255, 255, 0.5) ;
}

.header-menu-active h2,
.header-menu h2{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.9rem;
    letter-spacing: 0.27rem;
    margin-right: 2rem ;
}
.header-menu-active p,
.header-menu p{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    line-height: 1.92rem;
    font-size: 1.6rem;
    letter-spacing: 0.27rem;
    color: #FFFFFF;
}


.header-menu-icon{
    display:none
}


@media (max-width: 1000px) {
    .header hr{
    display: none;
    }
    .header img{
        width: auto;
        height: 100%;
    }
    .header-menu-container{
        width: auto;
        height: 100%;
        margin: 0 5% 0 0 ;
        background:rgba(255, 255, 255, 0.04);
        display: flex;
            justify-content:space-between;
            align-items: center;
    }
}

@media (max-width: 621px) {
    .header-menu-container{
        display: none;
    }

    .header-menu-icon{
        display:grid;
        place-items: center;
        color: white;
        width: 10%;
        height: 100%;
        color: #D0D6F9;
    }
}

