.background {
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/destination/background-destination-desktop.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


    display: flex;
}

.destination-container {
    /* background-color: gray; */
    margin-top: 15%;
    margin-left: 10%;
    margin-right: 10%;
    /* margin-bottom: 10%; */
    width: 100%;
    /* height: 100%; */
    display: flex;
}

.destination-image {
    /* background-color: blueviolet; */
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    margin-right:5%;
}

.destination-image-title {
    margin-bottom: 10%;
    display: flex;
}

.destination-image-title h3 {
    margin-right: 4%;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    font-size: 2.8rem;
    line-height: 3.4rem;
    letter-spacing: 0.472rem;
    opacity: 0.25;
}

.destination-image-title h2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 2.8rem;
    line-height: 3.4rem;
    letter-spacing: 0.47rem;
}

.destination-image-size {
    /* background-color: red; */
    width: 35.5rem;
    height: 35.5rem;

}


.destination-detail {
    /* background-color: blue; */
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.destination-detail hr {
    background-color: #383B4B;
    height: 1px;
    border: 0;
}

/* hr { background-color: red; height: 1px; border: 0; } */

.destination-nameList {
    width: 100%;
    height: 10%;

    margin-top: 10%;
    margin-bottom: 5%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: red; */
}

.destination-nameList-noactive {
    /* background-color:#D0D6F9; */
    /* width: 100%; */
    height: 100%;
    display: grid;
    place-items: center;
    cursor: pointer;
    /* color:#D0D6F9; */
    border: 5px solid transparent;
}

.destination-nameList-noactive:hover {
    border-bottom: 5px solid #979797;
}


.destination-nameList-active {
    height: 100%;
    display: grid;
    place-items: center;
    border-bottom: 5px solid white;
    /* background-color: blue; */
    cursor: pointer
}

.destination-nameList-active h3 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.92rem;
    /* background-color: yellow; */
    color: #FFFFFF;
}


.destination-nameList-noactive h3 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.92rem;
    /* background-color: yellow; */
    color: #D0D6F9;
}

.destination-detail h1 {
    font-family: 'Bellefair', serif;
    font-weight: 400;
    font-size: 10rem;
}

.destination-detail p {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    margin-bottom: 5%;
    line-height: 3.2rem;
    color: #D0D6F9;
}

.destination-detail hr {
    margin-bottom: 5%;
}


.destination-nameList-detail {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.destination-nameList-detail div {
    width: 50%;
}

.destination-nameList-detail div h3 {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.68rem;
    margin-bottom: 2%;
    color: #D0D6F9;
}

.destination-nameList-detail div h2 {
    font-family: 'Bellefair', serif;
    font-weight: 400;
    font-size: 2.8rem;
    line-height: 3.2rem;
}


@media (max-width:820px) {
    .background {
        width: 100vw;
        height: auto;
        min-height: 100vh;
        background-image: url("../../assets/destination/background-destination-tablet.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
    }

    .destination-container {
        margin: 20% 5% 5% 5%; 
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .destination-image {
        /* background-color: blueviolet; */
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
    }
    .destination-image-title {
        margin-bottom: 5%;
        display: flex;
    }
    .destination-image-size {
        margin: 0 auto;
        /* background-color: red; */
        width: 30rem;
        height: 30rem;
    }
    
    .destination-detail {
        /* background-color: blue; */
        margin: 0 5%;
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .destination-nameList {
        width: 50%;
        height: 10%;
        margin: 5% auto 5% auto;
    
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* background-color: red; */
    }
    .destination-detail h1 {
        font-family: 'Bellefair', serif;
        font-weight: 400;
        font-size: 10rem;
        margin: 0 auto;
    }
    .destination-detail p {
        font-family: 'Barlow', sans-serif;
        font-weight: 400;
        font-size: 1.8rem;
        margin-bottom: 5%;
        line-height: 3.2rem;
        color: #D0D6F9;
    }
    .destination-nameList-detail {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        /* background-color: red; */
        /* margin-bottom: 2%; */
    }

}
@media (max-width: 621px) {
    .destination-container {
        margin: 25% 5% 5% 5%; 
        width: 100%;
        /* height: 100%; */
        display: flex;
    }

    .destination-nameList-detail{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .destination-image-title {
        margin-bottom: 5%;
        display: flex;
        justify-content: center;
    }
    .destination-image-title h3 {
        display: none;
    }

    .destination-image-title h2 {
        font-size: 1.6rem;
        line-height: 1.92rem;
        letter-spacing: 0.27rem;
    }
    .destination-image-size {
        margin:0 auto;
        width: 17rem;
        height: 15rem;
    
    }
    .destination-nameList-active,
    .destination-nameList-noactive
    {
        margin-right: 1rem;

    }
    .destination-nameList-active h3 {
        font-size: 1.4rem;
        line-height: 1.68rem;
        /* background-color: yellow; */
        color: #FFFFFF;
    }
    .destination-nameList-noactive h3 {
        font-size: 1.4rem;
        line-height: 1.68rem;
        /* background-color: yellow; */
        color: #D0D6F9;
    }
    
    .destination-detail h1 {
        font-weight: 400;
        font-size: 5.6rem;
    }

    .destination-detail p {
        font-size: 1.5rem;
        margin-bottom: 5%;
        line-height: 3.2rem;
        color: #D0D6F9;
    }

    .destination-nameList-detail div{
        width: 100%;
        margin: 3.2rem;
    }

    .destination-nameList-detail div h3 {
        font-size: 1.4rem;
        line-height: 1.68rem;
        margin-bottom: 2%;
        color: #D0D6F9;
    }
    
    .destination-nameList-detail div h2 {
        font-family: 'Bellefair', serif;
        font-weight: 400;
        font-size: 2.8rem;
        line-height: 3.2rem;
    }



}